import(methods, RCurl, XML, SSOAP, NCBI2R, boot, R2HTML)
export(ready)
exportClasses(Abstracts, HGNC)
export(SentenceToken)
exportMethods(combineabs, sendabs, removeabs, getabs, getabsT, searchabsL, searchabsT, subabs, Yearwise, Genewise, contextSearch, cleanabs)
export(gene_atomization)
export(word_atomizations)
export(readabs)
export(R2S4)
export(uniprotfun)
export(Pathway_Info)
export(Pathway_Link)
export(Find_conclusion)
export(tdm_for_lsa)
export(printabs)
export(cos_sim_calc)
export(cos_sim_calc_boot)
export(wordscluster)
export(whichcluster)
export(wordsclusterview)
export(find_intro_conc_html)
export(cluster_words)
export(get_original_term)
export(find_intro_conc_html)
export(input_for_find_intro_conc_html)
export(xmlreadabs)
export(xmlword_atomizations)
export(xmlgene_atomizations)
