import(methods, RCurl, XML, boot, R2HTML,RJSONIO ,utils)
importFrom("stats","median")
export(ready)
exportClasses(Abstracts, HGNC)
export(SentenceToken)
exportMethods(combineabs, sendabs, removeabs, getabs, getabsT, searchabsL, searchabsT, subabs, Yearwise, Genewise, contextSearch, cleanabs, subsetabs)
export(gene_atomization)
export(word_atomizations)
export(readabs)
export(uniprotfun)
export(local_uniprotfun)
export(Find_conclusion)
export(tdm_for_lsa)
export(printabs)
export(cos_sim_calc)
export(cos_sim_calc_boot)
export(wordscluster)
export(whichcluster)
export(wordsclusterview)
export(find_intro_conc_html)
export(cluster_words)
export(get_original_term)
export(get_original_term2)
export(find_intro_conc_html)
export(input_for_find_intro_conc_html)
export(xmlreadabs)
export(xmlword_atomizations)
export(xmlgene_atomizations)
export(pubtator_function)
export(pubtator_result_list_to_table)
export(genes_BWI)
export(BWI)
export(currentabs_fn)
export(previousabs_fn)
export(altnamesfun)
export(prevsymbol_fn)
export(alias_fn)
export(get_NMids)
export(get_PMCIDS)
export(get_PMCtable)
export(get_Sequences)
export(Give_Sentences_PMC)
export(head_abbrev)
export(names_fn)
export(official_fn)
export(pmids_to_abstracts)
export(get_gene_sentences)
export(Give_Sentences)
export(get_MedlinePlus)
export(co_occurrence_fn)
export(space_quasher)
export(readabsnew)
export(readabsnew)
export(word_associations)
export(get_DOIs)
export(additional_info)
export(new_xmlreadabs)
export(pubtator_function_JSON)
export(xmlgene_atomizations_new)
export(co_occurrence_advance)
export(pubtator3_function)
